@font-face {
    font-family: "Nunito Sans";
    src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap) format("truetype");
    font-family: "Yeseva One";
    src: url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap) format("truetype");
}